body {
  background-color: white;
  font-family: Arial, sans-serif;
  margin: 20 0 0 0;
  padding: 0;
}

img {
  border-radius: 50%;
  margin: 10px auto;
  display: block;
}

.flex-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card {
  background-color: #3674B5;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 150px;
  justify-content: center;
  display: flex;
}

.card-link {
  background-color: #3674B5;
  color: white;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.company-link {
  background-color: #3674B5;
  color: white;
  padding: 5px;
  margin: 25px;
  border-radius: 5px;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

h1 {
  text-align: center;
  color: black;
}

h2 {
  text-align: center;
  color: #578FCA;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #3674B5;
  color: white;
}

.contact-name {
  text-align: center;
  padding: 10px;
  background-color: #3674B5;
  color: white;
}

.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.contact-detail {
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.contact-info {
  font-size: 15px;
  font-weight: 600;
  color: #3674B5;
  text-align: center;
}

.contact-link-buttons {
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  background-color: #3674B5;
}

.contact-links {
  color: white;
}


.sport-names {
  color: #3674B5;
  font-weight: bold;
}
